/* ==============================================================================================================
   This CSS was written in beautiful Sass and then compiled to this hideous looking code. To view the purrdy Sass files, please go here: https://github.com/MandyMadeThis/Resume-July14/tree/master/sass 
   =========================================================================================================== */
/*normalize*/
/* line 2, _normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 2, _normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 2, _normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 2, _normalize.scss */
[hidden] {
  display: none;
}

/* line 2, _normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 2, _normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 2, _normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 2, _normalize.scss */
h1 {
  font-size: 2em;
}

/* line 2, _normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 2, _normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 2, _normalize.scss */
dfn {
  font-style: italic;
}

/* line 2, _normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 2, _normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 2, _normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 2, _normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 2, _normalize.scss */
small {
  font-size: 80%;
}

/* line 2, _normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 2, _normalize.scss */
sup {
  top: -.5em;
}

/* line 2, _normalize.scss */
sub {
  bottom: -.25em;
}

/* line 2, _normalize.scss */
img {
  border: 0;
}

/* line 2, _normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2, _normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 2, _normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 2, _normalize.scss */
button, input {
  line-height: normal;
}

/* line 2, _normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 3, _normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 3, _normalize.scss */
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 3, _normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 3, _normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 3, _normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 3, _normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, _normalize.scss */
body, figure {
  margin: 0;
}

/* line 3, _normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*box-sizing*/
/* line 5, _normalize.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*clearfix*/
/* line 9, _normalize.scss */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*Imgage width & height*/
/* line 17, _normalize.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 11, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 14, style.scss */
body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  background: #000;
  font-size: 16px;
  color: #001324;
  background-color: #001324;
  background-image: -webkit-linear-gradient(45deg, #001324 25%, #090909 25%, #090909 50%, #001324 50%, #001324 75%, #090909 75%, #090909);
  background-image: linear-gradient(45deg, #001324 25%, #090909 25%, #090909 50%, #001324 50%, #001324 75%, #090909 75%, #090909);
  -webkit-background-size: 150px 150px;
  background-size: 150px 150px;
}

/* line 23, style.scss */
a {
  text-decoration: none;
  color: #00a99d;
}

/* line 27, style.scss */
p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

/* line 33, style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

/* line 37, style.scss */
.wrapper {
  width: 90%;
  max-width: 800px;
  background: #f3f3f3;
  margin: 30px auto;
  padding-bottom: 5px;
}

/* line 44, style.scss */
.mainDetails {
  padding: 25px 35px;
  border-bottom: 5px solid #feae22;
}

/* line 48, style.scss */
.headshot {
  width: 17%;
  float: left;
  margin-right: 30px;
}
/* line 52, style.scss */
.headshot img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* line 58, style.scss */
.details {
  float: left;
}
/* line 60, style.scss */
.details h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 0 -6px 0;
}
/* line 65, style.scss */
.details h2 {
  font-size: 2em;
  line-height: 0.9em;
  margin: 0 0 0 2px;
}
/* line 70, style.scss */
.details h3 {
  margin: 0;
}
/* line 73, style.scss */
.details ul {
  list-style-type: none;
  position: relative;
  left: -40px;
  margin: 0;
}
/* line 79, style.scss */
.details li {
  display: inline-block;
  margin-right: 4%;
}
/* line 82, style.scss */
.details li a:hover {
  color: #feae22;
}
/* line 86, style.scss */
.details svg {
  width: 32px;
  height: 32px;
  position: relative;
  top: 5px;
  fill: #00a99d;
}
/* line 92, style.scss */
.details svg:hover {
  fill: #feae22;
}

/* line 98, style.scss */
.mainArea {
  padding: 0 40px;
  margin-bottom: 60px;
}
/* line 101, style.scss */
.mainArea article {
  clear: both;
}

/* line 105, style.scss */
section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
  clear: both;
}
/* line 109, style.scss */
section:first-child {
  border-top: 0;
}
/* line 112, style.scss */
section:last-child {
  padding: 20px 0 10px;
}

/* line 117, style.scss */
.sectionTitle {
  float: left;
  width: 25%;
}
/* line 120, style.scss */
.sectionTitle h2 {
  font-style: italic;
  font-size: 1.5em;
  color: #00a99d;
}

/* line 126, style.scss */
.sectionContent {
  float: right;
  width: 72.5%;
}
/* line 129, style.scss */
.sectionContent h3 {
  font-size: 1.5em;
  margin-bottom: -2px;
}
/* line 133, style.scss */
.sectionContent h4 {
  margin: 0;
}
/* line 136, style.scss */
.sectionContent ul.checked-square, .sectionContent ul.checked, .sectionContent ul.icons {
  list-style: none;
  padding-left: 20px;
}
/* line 139, style.scss */
.sectionContent ul.checked-square li, .sectionContent ul.checked li, .sectionContent ul.icons li {
  margin-top: 15px;
}
/* line 142, style.scss */
.sectionContent ul.checked-square i[class^="fa"], .sectionContent ul.checked i[class^="fa"], .sectionContent ul.icons i[class^="fa"] {
  color: #feae22;
  margin-right: 8px;
}

/* line 149, style.scss */
ul.checked-square li:before, ul.checked li:before {
  font-family: FontAwesome;
  color: #feae22;
  margin-right: 8px;
}

/* line 155, style.scss */
ul.checked-square li:before {
  content: "\f046";
}

/* line 159, style.scss */
ul.checked li:before {
  content: "\f00c";
}

/* line 164, style.scss */
.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

/* line 170, style.scss */
.keySkills {
  position: relative;
  list-style-type: none;
  margin: 21px 0;
  padding: 0;
  font-size: 1em;
  color: #444;
}
/* line 177, style.scss */
.keySkills li {
  margin-bottom: 30px;
  height: 30px;
  background: #E4E7EB;
}
/* line 182, style.scss */
.keySkills em {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-left: 8px;
  top: 4px;
}
/* line 189, style.scss */
.keySkills .expand {
  height: 30px;
  position: absolute;
}
/* line 193, style.scss */
.keySkills .ninetyfive {
  width: 95%;
  -webkit-animation: ninetyfive 2s ease-out backwards 6s;
  animation: ninetyfive 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 198, style.scss */
.keySkills .ninety {
  width: 90%;
  -webkit-animation: ninety 2s ease-out backwards 6s;
  animation: ninety 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 203, style.scss */
.keySkills .eightyfive {
  width: 85%;
  -webkit-animation: eightyfive 2s ease-out backwards 6s;
  animation: eightyfive 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 208, style.scss */
.keySkills .eighty {
  width: 80%;
  -webkit-animation: eighty 2s ease-out backwards 6s;
  animation: eighty 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 213, style.scss */
.keySkills .seventyfive {
  width: 75%;
  -webkit-animation: seventyfive 2s ease-out backwards 6s;
  animation: seventyfive 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 218, style.scss */
.keySkills .seventy {
  width: 70%;
  -webkit-animation: seventyfive 2s ease-out backwards 6s;
  animation: seventyfive 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 223, style.scss */
.keySkills .sixtyfive {
  width: 65%;
  -webkit-animation: sixtyfive 2s ease-out backwards 6s;
  animation: sixtyfive 2s ease-out backwards 6s;
  background: #00a99d;
}
/* line 228, style.scss */
.keySkills .sixty {
  width: 60%;
  -webkit-animation: sixty 2s ease-out backwards 6s;
  animation: sixty 2s ease-out backwards 6s;
  background: #00a99d;
}

@-webkit-keyframes ninetyfive {
  /* line 236, style.scss */
  0% {
    width: 0;
  }

  /* line 237, style.scss */
  100% {
    width: 95%;
  }
}

@keyframes ninetyfive {
  /* line 236, style.scss */
  0% {
    width: 0;
  }

  /* line 237, style.scss */
  100% {
    width: 95%;
  }
}
@-webkit-keyframes ninety {
  /* line 240, style.scss */
  0% {
    width: 0;
  }

  /* line 241, style.scss */
  100% {
    width: 90%;
  }
}
@keyframes ninety {
  /* line 240, style.scss */
  0% {
    width: 0;
  }

  /* line 241, style.scss */
  100% {
    width: 90%;
  }
}
@-webkit-keyframes eightyfive {
  /* line 244, style.scss */
  0% {
    width: 0;
  }

  /* line 245, style.scss */
  100% {
    width: 85%;
  }
}
@keyframes eightyfive {
  /* line 244, style.scss */
  0% {
    width: 0;
  }

  /* line 245, style.scss */
  100% {
    width: 85%;
  }
}
@-webkit-keyframes eighty {
  /* line 248, style.scss */
  0% {
    width: 0;
  }

  /* line 249, style.scss */
  100% {
    width: 80%;
  }
}
@keyframes eighty {
  /* line 248, style.scss */
  0% {
    width: 0;
  }

  /* line 249, style.scss */
  100% {
    width: 80%;
  }
}
@-webkit-keyframes seventyfive {
  /* line 252, style.scss */
  0% {
    width: 0;
  }

  /* line 253, style.scss */
  100% {
    width: 75%;
  }
}
@keyframes seventyfive {
  /* line 252, style.scss */
  0% {
    width: 0;
  }

  /* line 253, style.scss */
  100% {
    width: 75%;
  }
}
@-webkit-keyframes seventy {
  /* line 256, style.scss */
  0% {
    width: 0;
  }

  /* line 257, style.scss */
  100% {
    width: 70%;
  }
}
@keyframes seventy {
  /* line 256, style.scss */
  0% {
    width: 0;
  }

  /* line 257, style.scss */
  100% {
    width: 70%;
  }
}
@-webkit-keyframes sixtyfive {
  /* line 260, style.scss */
  0% {
    width: 0;
  }

  /* line 261, style.scss */
  100% {
    width: 65%;
  }
}
@keyframes sixtyfive {
  /* line 260, style.scss */
  0% {
    width: 0;
  }

  /* line 261, style.scss */
  100% {
    width: 65%;
  }
}
@-webkit-keyframes sixty {
  /* line 264, style.scss */
  0% {
    width: 0;
  }

  /* line 265, style.scss */
  100% {
    width: 60%;
  }
}
@keyframes sixty {
  /* line 264, style.scss */
  0% {
    width: 0;
  }

  /* line 265, style.scss */
  100% {
    width: 60%;
  }
}
@media (max-width: 679px) {
  /* line 2, _media-queries.scss */
  .mainDetails {
    padding: 15px 15px;
  }

  /* line 5, _media-queries.scss */
  .headshot img {
    display: none;
  }

  /* line 8, _media-queries.scss */
  .mainArea {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  /* line 12, _media-queries.scss */
  .wrapper {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }

  /*.headshot img{
    display: none;
  }*/
  /* line 22, _media-queries.scss */
  .details, .contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* line 28, _media-queries.scss */
  .sectionTitle, .sectionContent {
    float: none;
    width: 100%;
  }

  /* line 33, _media-queries.scss */
  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }
}
@media (min-width: 680px) and (max-width: 800px) {
  /* line 41, _media-queries.scss */
  .headshot {
    display: none;
  }
}
@media print {
  /* line 48, _media-queries.scss */
  .wrapper {
    width: 100%;
  }
}
